.empty-cart {
    text-align: center;
}

.empty-cart p {
    width: 100%;
    margin-top: 15px;
}
.emptyText {
    font-size: 30px;
}

.goToHome a {
    font-size: 30px;
    width: 300px;
}

.orderImg {
    width: 100px;
}
